footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Helvetica Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 83%;
    margin: 3rem auto 2rem auto;
}

.footer-left,
.footer-center,
.footer-right {
    padding: 0 20px;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer-center {
    text-align: center;
}

.footer-right a,
.footer-center a{
    color: black;
    text-decoration: none;
}

.footer-right a:hover,
.footer-center a:hover{
    text-decoration: underline;
}
