footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Helvetica Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 83%;
    margin: 3rem auto 2rem auto;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInFooter 4s ease forwards;
    animation-delay: 1.5s;
}

@keyframes fadeInFooter {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer-left,
.footer-center,
.footer-right {
    padding: 0 20px;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer-center {
    text-align: center;
}

.footer-right a,
.footer-center a {
    color: black;
    text-decoration: none;
}

.footer-right a:hover,
.footer-center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 648px) {
    footer {
        flex-direction: column;
        width: 90%;
        margin: 2rem auto 1rem auto;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        width: 100%;
        text-align: center;
    }

    .footer-left {
        margin-bottom: 5px;
    }

    .footer-center {
        margin-bottom: 5px;
    }
}
